@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased dark:bg-neutral-900 dark:text-white w-screen;
}

* {
  scrollbar-width: none;
}

button {
  @apply transition-all duration-100 ease-in-out;
}

@keyframes pulseAnimation {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  @apply bg-white;
  color: #000;
}
